.Cbox{
    margin-top: 3rem;

    width: 100%;
    height: 42rem;
display: flex;
justify-content: space-around;
align-items: center;
}
.imgBox{
   
    height: 20rem;
    width: 38rem;
}
.imgBox img{
    height: inherit;
    filter: invert(1);
}
.contactBox{
    display: flex;
    height: 20rem;
    width: 38rem;
}
.contactInfo{
    display: flex;
    flex-direction: column;
   justify-content: center;
   font-size: 2rem;
}
.contactItem{
    list-style: none;
    
}
@media screen and (max-width: 563px) {
.Cbox{
flex-direction: column;
}
.imgBox{
    justify-content: center;
    display: flex;
    height: 14rem;
    width: 28rem;
}
.contactBox{
    display: flex;
    width: 0;
    justify-content: center;
    align-items: center;
}

     }
     